{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="formContainer">

<div  class="navBar">
  <a href="{{ path('app_convention') }} "><button  class="btn btn-info"  type="submit" >convention</button></a>
  <a href="{{ path('app_observation') }}"><button  class="btn btn-info"  type="submit" >observation</button></a>
  <a href="{{ path('app_partenaire') }}"><button  class="btn btn-info"  type="submit" >partenaire</button></a>
  <a href="{{ path('app_province') }}"><button  class="btn btn-info"  type="submit" >province</button></a>
  <a href="{{ path('app_secteur') }}"><button  class="btn btn-info"  type="submit" >secteur</button></a>
 <a href="{{ path('app_logout') }}"><button  class="btn btn-danger"  type="submit" >log Out</button></a>
{% if is_granted('ROLE_ADMIN')  %} 
  <a href="{{ path('app_register') }} "><button  class="btn btn-danger"  type="submit" >register</button></a>

{% endif %}

</div>
</div>
{% endblock %}
